body {
  background-color: lightgreen;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.paragraph{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.center {
    text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container > * {
  border: 1px solid black;
  background-color: lightblue;
  padding: 10px;
  grid-column: col-start / span 12;
}

@media (min-width: 576px) {
  .sidebar {
    grid-column: col-start / span 3;
    grid-row: 3;
  }
  .ads {
    grid-column: col-start / span 3;
  }
  .content, .footer {
    grid-column: col-start 4 / span 9;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }
  .sidebar {
    grid-column: col-start 11 / span 2;
  }
  .ads {
    grid-column: col-start 11 / span 2;
  }
  .footer {
    grid-column: col-start / span 12;
  }
  nav ul {
    flex-direction: column;
  }
}

#app {
    display: inline-block;
    padding: 10px;
    font-size: x-large;
    background-color: lightgreen;
}